body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    height: 75vh;
    margin-top:10vh;
    background-color: #f4f4f9;
    }

.contianer{
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    background-color: white;
}
.input{
    height: 25px;
    border: 0;
    width: 35vh;
    border-radius: 25px;
    outline: 0;
}
.btn{
    background-color: #324f6b;
    color: white;
    border: 0;
    width: 65px;
    height:30px;
    border-radius: 3px;
    margin-left: 3px;
}
.btn:hover{
    background-color: #0f355e;
}